<div class="contact-container">

  <!-- TOP GRID -->
  <div class="top-grid">
    <div class="left-cards">
      <div class="card email-card">
        <span class="icon">✉</span>
        <span>deypiyasa82@gmail.com</span>
      </div>

      <div class="card github-card">
        <span class="icon"><i class="fa-brands fa-github"></i></span>
        <div>
          <p class="title">Github Profile</p>
          <small><a href="https://github.com/Piyasa-24" target="_blank">https://github.com/Piyasa-24</a></small>
         
        </div>
      </div>
    </div>

    <div class="card linkedin-card">
      <span class="linkedin-icon"><a href="https://www.linkedin.com/in/piyasa-dey-a261001b6/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></span>
    </div>
  </div>

  <!-- FORM -->
  <div class="form-grid">
    <div class="contact-form">
      <h2>Contact with me</h2>
      <p class="subtitle">
        You can also get in touch with me through this form below.
      </p>

      <form>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <textarea rows="5" placeholder="Enter your message here"></textarea>
        <button class="submit-btn">Submit</button>
      </form>
    </div>
  </div>

</div>
